body{
    height:auto;
    background-color:lightblue;
    font-family:sans-serif;
}
.todolist-dashboard-header{
    background-color:#54B9CD;
}
.user-image{
    height:50px;
    width:50px;
}

.left-sidebar{

    background-color:#E9EEEF;
}
.right-main{

}
.todolist-body{
    height:700px;
}