body{
    height:auto;
    background-color:lightblue;
    font-family:sans-serif;
}
.todolist-dashboard-header{
    background-color:#54B9CD;
}
.user-image{
    height:50px;
    width:50px;
}

.left-sidebar{

    background-color:#E9EEEF;
}
.right-main{

}
.todolist-body{
    height:700px;
}
.list-group-item  a{
    text-decoration: none;
    color: darkgrey;
}
.list-group-item .fa-trash{
    color:orangered;
}
.list-group-item .remove:hover{
    font-weight: bolder;
}
.list-group-item{
    cursor: pointer;
}
.folder-list .list-group-item:hover {
    background-color: #badce3;
    color: white;
}